{% extends "posts/base.html" %}
{% load static %}

{% block content %}
<div class="register-container">
    <div class="register-card">
        <h1 class="register-title">Log In</h1>

        <form method="POST" class="register-form">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="error">
                {{ form.non_field_errors }}
            </div>
            {% endif %}

            {% for field in form %}
            <div class="form-group">

                {{ field.label_tag }}
                {{ field }}

                <!-- ← Add this to show help text -->
                <!-- {% if field.help_text %}           
                        <small class="help-text">{{ field.help_text }}</small>
                    {% endif %}  -->

                {% if field.errors %}
                <div class="error">
                    {{ field.errors }}
                </div>
                {% endif %}

            </div>
            {% endfor %}

            <button type="submit" class="btn">
                Login
            </button>
            <div>
                <p>Need An Account? <a href="{% url 'register'%}">Sign Up</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock content %}