{% extends "posts/base.html" %}
{% load static %}

{% block content %}
<div class="profile-content">
    <div class="profile-info">
        <div>
            <img class="profile-image" src="{{ profile_user.profile.image.url }}" alt="">
        </div>
        <div>
            <p>{{ profile_user.username }}</p>
            <p>{{ profile_user.first_name }} {{ profile_user.last_name }}</p>
            <p>{{ profile_user.profile.bio }}</p>
            {% if user == profile_user %}
                <div>
                    <a href="{% url 'profile-update' username=profile_user.username %}" class="btn">Update Profile</a>
                    <a href="{% url 'upload-post' username=profile_user.username %}" class="btn">Upload Post</a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="user-posts">
        {% for post in posts %}
            <a class="post-item" href="{% url 'post-detail' username=post.user.username post_id=post.id %}">
                <img src="{{ post.image.url }}" alt="Post image">
            </a>
        {% empty %}
            <p>No posts yet.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}